doctype html
html(lang="en")
  head
    block title
      title Jade
    link(rel='stylesheet', href='/main.css')
    script(type="text/javascript", src="/main.js")
    block head
  body
    block content
